
a {
  color: black;
}

header {
  width: 100vw;
  display: flex;
  height: 80px;
  background-color: lightsalmon;
}

header nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 30vw;
  justify-content: space-around;
  align-items: center;
}

header nav ul li {
  padding: 1.5rem;
  
}

header nav {
  position: absolute;
  right: 0;
}

header img {
  width: 70px;
  height: 70px;
  margin: auto 50px;
}

article {
  width: 250px;
  border: mediumpurple solid 1px;
  border-radius: 5px;
  margin: 20px auto;
  text-align: center;
  cursor: pointer;
}

article:hover {
    box-shadow: 0 0px 5px 1px black;
}

article img {
  width: 250px;
  height: 300px;
}

article .title{
  font-size: 1.2rem;
  font-weight: 550;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transform: translateY(-10px);
  background-color: linen;
}

.filter {
  padding: 25px 0;
  width: 100vw;
  text-align: center;
  height: 50px;
 overflow: hidden;
 transition: all 0.8s ease-in-out;
 background-image: linear-gradient( 135deg, #FFF6B7 10%, #F6416C 100%);
}

.filter:hover {
  overflow: auto;
  height: auto;
}

.filter .headline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter .addBook {
  position: absolute;
  left: 20px;
  font-weight: bold;
  color: rgb(252, 144, 102);;
}

.filter .addBook:hover {
  color: rgb(233, 100, 48);;
}

.filter form {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

form div {
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
}

/* Book Details */

main {
  height: 100%
}

.actionsOnBook {
  width: 120px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  left: 50px;
  top: 15px;
}

.actionsOnBook .edit {
  text-decoration: none;
  color: rgb(199, 32, 60);
  font-weight: bold;
  cursor: pointer;
}

.actionsOnBook button {
  border: none;
  background: none;
  color: rgb(199, 32, 60);
  font-weight: bold;
  cursor: pointer;
}

.details {
  display: flex;
  height: 100%;
  width: 90vw;
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  margin: 1rem auto;
  
}

.details .left-container{
  float: left;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: rgba(74, 47, 100, 0.952);
  border-radius: 10px;
  z-index: 1;
}

.details .left-container .book-img {
  border-radius: 10px;
  position: relative;
  margin-top: 1rem;
  
}

.details .left-container .sale {
  z-index: 1;
}

.details .left-container .sale img {
  width: 100px;
  margin-top: -30px;
  
}

.details .description {
  cursor: pointer;
}

.details .moreInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(147, 129, 247, 0.829);
  transform: translateX(-230px);
  z-index: 0;
  transition: all 0.4s ease-in;
  margin: 1rem;
  border-radius: 10px;
  cursor: pointer;
  padding: 1rem;
}

.details .reviews {
  display: flex;
  flex-direction: column;
  width: 45%;
  border-left: rgba(193, 167, 241, 0.774) solid 1px;
  text-align: center;
}

.details .reviews form {
  height: 300px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
  margin: 0 auto;
}

.details .textarea {
  
}

.reviews input {
  height: 1.5rem;
}

.reviews button {
  width: 90px;
  margin: 0 auto;
  padding: 0.3rem;
}

footer {
  text-align: center;
  margin: 20px 0;
}

/* Helpers */

.flex {
  display: flex;
}

.justify-even {
  justify-content: space-evenly;
}

.hidden {
  height: 50%;
}

.red {
  color: red;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}

.wobble-hor-top {
	-webkit-animation: wobble-hor-top 0.8s both;
	        animation: wobble-hor-top 0.8s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-25 7:16:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-top
 * ----------------------------------------
 */
 @-webkit-keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
            transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}
@keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
            transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}
